h2 {
  margin-top: 1rem;
}

p {
  padding-bottom: 0;
  line-height: 1.3rem;
}

p, h3, h4 {
  margin-top: 0;
  margin-bottom: 0;
}

h4 {
  font-size: 1.4rem;
}

ul {
  padding-bottom: 0;
  line-height: 1.6rem;
  padding-left: 1rem;

  li {
    a {
      font-weight: 700;
    }
  }
}

ol {
  padding-left: 1.5rem;
}

.heading {
  font-weight: 700;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.topic {
  margin-bottom: 1rem;
}

.key-words {
  color: var(--key-words);

  .heading {
    margin-top: 0;
  }
}

.advantages {
  color: var(--positives);
}

.disadvantages {
  color: var(--negatives);
}