@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
  --nav-width: 200px;
  --nav-bg: #222;
  --title-size: 1.1rem;
  --primary: #66e8ff;
}

@media (max-width: 600px) {
  :root {
    --nav-width: 120px;
    --title-size: 0.8rem;
  }
}

/* Defaults */
html {
  scroll-behavior: smooth;   
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Lato', sans-serif;

  background: #ffffff;
  color: #000000;
}

/* Main container */
main {
  width: calc(100% - var(--nav-width) - 2rem);
  margin-left: var(--nav-width);
  padding: 1rem;
}

/* Defaults for typography */
h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

p, ul {
  padding-bottom: 1rem;
}

ul {
  margin-left: 1rem;
}

a {
  text-decoration: none;
  color: #471caa;
}

/* Table styling */
table {
  text-align: left;
  font-weight: normal;

  color: black;

  border-collapse: collapse;

  margin-bottom: 1rem;

  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 0.5rem;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

tr:nth-child(odd) {
  background-color: #dbdbdb;
}

th {
  background-color: #a09fff;
  color: #000000;
}