@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
  --nav-width: 160px;
  --nav-bg: #222;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Lato', sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;

  height: 100%;
  width: var(--nav-width);

  background: var(--nav-bg);
  color: white;
}

nav .title {
  text-align: center;
  padding: 1rem auto;
  border-bottom: 2px solid white;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  width: calc(100% - 1rem);
  height: 2rem;

  display: flex;
  align-items: center;

  padding-left: 1rem;
  
  background: transparent;
  color: white;
}

nav li:hover {
  color: #ccc;
}

nav a {
  text-decoration: none;
}

main {
  width: calc(100% - var(--nav-width));
  margin-left: var(--nav-width);
  padding: 1rem;
}
