@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
  --nav-width: 200px;
  --nav-bg: #222;
  --primary: #66E8FF;
}

/* Defaults */
body {
  margin: 0;
  padding: 0;

  font-family: 'Lato', sans-serif;

  background: #333;
  color: white;
}

/* Main container */
main {
  width: calc(100% - var(--nav-width) - 2rem);
  margin-left: var(--nav-width);
  padding: 1rem;
}

/* Defaults for typography */
h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

p {
  padding-bottom: 1rem;
}

ul {
  margin-left: 1rem;
}